*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/net/matrixhome/kino/data/Constants.java
/app/src/main/java/net/matrixhome/kino/data/CheckService.java
/app/src/androidTest/java/net/matrixhome/kino/
/app/src/test/java/net/matrixhome/kino/
